#crew {
  background: url("assets/images/crew/background-crew-desktop_upscaled.jpg")
    no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  margin: auto;
}

.section_header {
  font-family: var(--barlow-condensed);
  font-size: clamp(1rem, 0.75rem + 1.25vw, 1.75rem);
  letter-spacing: 0.1688rem;
  padding-bottom: 2rem;
}

.section_header span {
  padding-right: clamp(1rem, 0.833rem + 0.833vw, 1.5rem);
  opacity: 0.25;
}

.img {
  width: clamp(11.063rem, 2.917rem + 40.729vw, 35.5rem);
}

.slider {
  padding: 2rem 0;
}

.content {
  text-align: center;
}
.content_subheader {
  font-size: clamp(1rem, 0.667rem + 1.667vw, 2rem);
  opacity: 0.5;
  line-height: 1;
  padding: 2rem 0 0;
}
.content_header {
  font-size: clamp(1.5rem, 0.833rem + 3.333vw, 3.5rem);
  line-height: 1;
  padding: 8px 0 16px;
}
.content_body {
  color: #d0d6f9;
}
