#crew {
  background: url("assets/images/crew/background-crew-desktop_upscaled.jpg")
    no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  margin: auto;
  padding: 0 0 2rem;
}

.section_header {
  font-family: var(--barlow-condensed);
  font-size: clamp(1rem, 0.75rem + 1.25vw, 1.75rem);
  letter-spacing: 0.1688rem;
}

.section_header span {
  padding-right: clamp(1rem, 0.833rem + 0.833vw, 1.5rem);
  opacity: 0.25;
}

.img_container {
  width: 95%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #383b4b;
}
.img {
  max-width: clamp(9.375rem, 0.667rem + 43.542vw, 35.5rem);
}

.content {
  text-align: center;
  max-width: clamp(20.438rem, 17.563rem + 14.374vw, 30.5rem);
}
.content_subheader {
  font-size: clamp(1rem, 0.667rem + 1.667vw, 2rem);
  opacity: 0.5;
  line-height: 1;
  padding: 2rem 0 0;
}
.content_header {
  font-size: clamp(1.5rem, 0.833rem + 3.333vw, 3.5rem);
  line-height: 1;
  padding: 8px 0 16px;
}
.content_body {
  color: #d0d6f9;
}

@media (min-width: 768px) {
  .display {
    height: 100%;
    margin: 0 auto;
  }
  .section_header {
    align-self: flex-start;
  }
  .section_header span {
    padding-left: 1rem;
    font-weight: bold;
  }
  .img_container {
    order: 4;
    border: none;
    position: absolute;
    bottom: 0;
    margin: 0;
  }
  .display > *:nth-child(3) {
    order: 4;
    padding-top: 40px;
  }

  .content_subheader {
    padding-top: 60px;
  }
}

@media (min-width: 1280px) {
  .display {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, minmax(fit-content(0), 1fr));
    max-width: 1200px;
    margin: 0 auto;
  }
  .img_container {
    position: static;
    grid-area: 1 / 2 / 4 / 3;
  }

  .img {
    position: absolute;
    bottom: 0;
  }

  .content_subheader {
    padding-top: 154px;
  }

  .content {
    text-align: left;
    max-width: 800px;
  }

  .content_body {
    max-width: 500px;
    min-height: 180px;
  }

  .section_header span {
    padding-left: 0;
  }

  .display > *:nth-child(3) {
    order: 4;
    padding-top: 120px;
    justify-content: flex-start;
  }

  .content_header{
    padding: 2rem 0 3rem;
  }
}
