/***************************************************************

Navigation

***************************************************************/
nav {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(0rem, -3rem + 6.25vw, 2rem) 0
    clamp(1rem, 0.286rem + 3.571vw, 2rem);
  /* min-height: 20%; */
}

#logo {
  height: clamp(2.5rem, 2.293rem + 0.884vw, 3rem);
}

#line {
  position: relative;
  left: 2%;
  z-index: 1;
  border-top: 1px solid gray;
  width: 35%;
}

nav ul {
  backdrop-filter: blur(1rem) contrast(90%);
  width: 60%;
  display: flex;
  justify-content: center;
  height: 6rem;
}

.li {
  display: inline-flex;
  align-items: flex-end;
  padding: 0 clamp(1rem, -0.5rem + 3.125vw, 2rem);
  height: 100%;
}

.active {
  color: #fff;
  border-bottom: 3px solid #fff;
}

nav a {
  font-family: var(--barlow-condensed);
  font-size: 1rem;
  letter-spacing: 0.1688rem;
  text-decoration: none;
  color: #fff;
  padding-bottom: 2rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  display: flex;
  gap: 1rem;
}

nav a:hover,
nav a:focus,
nav a:active {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

nav a span {
  font-weight: bold;
}



.logo {
  padding: 0 0 0 2rem;
  cursor: pointer;
}

.logo_link {
  padding: 0;
}

.logo_link:hover,
.logo_link:focus,
.logo_link:active {
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}

@media (max-width: 768px) {
  nav {
    padding: 2rem 0;
  }

  nav ul {
    display: none;
  }
}

nav img {
  z-index: 99;
}

@media (max-width: 1299px) {
  nav a span {
    display: none;
  }

  #line {
    display: none;
  }
}
